<style>
    footer {
      background: #f9f9f9;
      padding: 2rem;
      color: #333;
    }
  
    footer a {
      color: #338eda;
      text-decoration: none;
      display: block;
      margin: 0.25rem 0;
    }
  
    footer h2 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .footer-column {
      flex: 1;
      min-width: 200px;
    }
  
    .logo {
      margin-top: 1rem;
    }
  </style>
  
  <footer>
    <div class="footer-container">
        <div class="footer-column">
            <h2>Youthacks</h2>
            <!-- <a href="/team/">Our Team</a> -->
            <a href="/events">Events</a>
        </div>
        <div class="footer-column">
            <h2>Social media</h2>
            <a href="https://www.instagram.com/youthacks/">Instagram</a>
            <a href="https://www.facebook.com/people/Youthacks/61575504317362/">Facebook</a>
            <a href=""https://github.com/youthacks">GitHub</a>
      </div>
  </footer>
  