---
const { image_path = "" } = Astro.props;
import hero_arrow from "../../../public/hero_banners/hero_arrow.svg";
---

<div class="container">
  <img class="image" src={image_path} style="width: 100%;" />
  <img class="arrow" src={hero_arrow.src} />
</div>

<style>
  .container {
    width: 100vw;
    height: auto;

    position: relative;
    top: 0;
    z-index: -1;
  }
  .container .image {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
  .arrow {
    position: absolute;
    bottom: 2em; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: 10vh;
  }

  .arrow_container {
    width: 100vw;
    position: relative;
    top: -20%;
    left: 50%;
    width: 50vw;
    align-self: center;
    z-index: 1;
  }
</style>
