<html>
  <div class="container">

    <div class="links">
      <a href="/">Home</a>
<<<<<<< HEAD
<<<<<<< HEAD
      <a href="/events#event-section">Events</a>
      <a href="contact-us#contact-section">Contact Us</a>
=======
      <a href="">Events</a>
      <a href="/for_parents">For Parents</a>
      <a href="/contact_us">Contact Us</a>
=======
      <a href="https://coolashack.youthacks.org">Cool as Hack</a>
      <a href="/for-parents">For Parents</a>
      <a href="/contact-us">Contact Us</a>
>>>>>>> c5747e0330d18cdfa30513837eb6c90525b73104
    </div>
  </div>

  <style>
    .container {
      display: flex;
      height: 10vh;
      position: fixed;
      width: 100%;

      align-content: space-between;
    }

    div {
      width: 50vw;
    }
    .links {
      align-items: center;
      justify-content: right;
      display: flex;
      width: 100vw;
      padding-right: 2em;
    }
    .links a {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 400;
      font-style: normal;

      padding-left: 2em;
      text-decoration: none;
      color: white;
    }
    .links a:hover {
      text-decoration: underline;
    }

    @media only screen and (max-width: 600px) {
      .links {
        justify-content: center;
      }
    }
  </style>


</html>
