---
import Defualt from '../layouts/default.astro';
import HeroBanner from "../components/shared/hero_banner.astro";
import HeroBannerImage from "../../public/hero_banners/sy_london_youthacks_logo.png";
---

<Defualt tab_title="Events - Youthacks">
    <HeroBanner image_path={HeroBannerImage.src} />
    <section id="event-section" class="events">
        <div class="container">
            <h1>Events</h1>
            <h2>Coming soon! Check out our main page for events we've done.</h2>
        </div>
    </section>
</Layout></p>
