---
// Import default layout
import Default from "../layouts/default.astro";

// Import images
import HeroBanner from "../components/shared/hero_banner.astro";
import HeroBannerImage from "../../public/hero_banners/sy_london_youthacks_logo.png";
import ScrapyardCambridge1 from "../../public/images/scrapyard_cambridge_1.jpg";
import ScrapyardLondon1 from "../../public/images/scrapyard_london_1.jpg";
import ScrapyardCambridge2 from "../../public/images/scrapyard_cambridge_2.jpg";
import Grid1 from "../components/layout/grid1.astro";
import Card1 from "../components/UI_components/card1.astro";
import CounterspellCambridge1 from "../../public/images/counterspell_cambridge_1.jpg";

// Import components
import ImageDescription1 from "../components/layout/image_description_1.astro";
import TextDescription1 from "../components/layout/description.astro";
import TextButton from "../components/UI_components/text_button.astro";
---

<Default>
    <HeroBanner image_path={CounterspellCambridge1.src} text="< For Parents >" />
        <Grid1>
        <Card1>
            <h2>
                Child Safeguarding
            </h2>
            <p>
                At Youthacks we are committed to ensuring that all young people attending our events are properly
                safe and protected from harm throughout the event's entire duration.
                <br>
                That's why we ensure our Staff are DBS checked, and our venues and on-site staff selected to reflect
                our belief that the welfare of children and young people is paramount and universal.
                <br>
                You can find details of our previous successful events on our <a href="/">Home Page</a>.
            </p>
        </Card1>
        <Card1>
            <h2>
                I have a concern about a specific event!
            </h2>
            <p>
                More information about specific events can be found on our <a href="/events">Events Page</a>.
                Or, if more convenient, send us an email to <a href="mailto:hello@youthacks.org">hello@youthacks.org</a>
                and we'll be happy to help you!
            </p>
        </Card1>
        <Card1>
            <h2>
                How can I stay up-to-date on what my child is doing during the day?
            </h2>
            <p>
                Our social media accounts are regularly updated throughout events! Feel free to follow us on
                <a href="https://www.instagram.com/youthacks/">Instagram</a> and
                <a href="https://www.facebook.com/people/Youthacks/61575504317362/">Facebook</a>.

            </p>
        </Card1>
        <Card1>
            <h2>
                Any Questions?
            </h2>
            <p>
                We'd love to hear from you! <br> Feel free to send us an email directly at 
                <a href="mailto:hello@youthacks.org">hello@youthacks.org</a>, or see our 
                <a href="/contact-us">Contact Us</a> page for more details on how to get in touch.
            </p>
        </Card1>
    </Grid1>
</Default>