---
import Default from "../layouts/default.astro";

import Hero_banner from "../components/shared/hero_banner.astro";
---

<Default>
  <h1>Welcome to the Youthacks site. We are creating it.</h1>
</Default>
